
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>partView</title>
</head>
<body>
    <div> 

        <h1>加载的局部页面</h1>
    </div>
</body>
</html>
