<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--==========数据库设置==========-->
  <database>
    <!--数据库连接-->
    <connectionString>server=127.0.0.1;database=HJDB;uid=cs;pwd=iMvyh5JHLzv3uy+vYsrOkw==</connectionString>
  </database>
  <!--==========系统设置==========-->
  <systemInfo>
    <!--头像文件缓存目录-->
    <picCachePath>C:\Users\11011692\AppData\Local\Temp\CallSys\HandlerPic</picCachePath>
    <!--是否自动更新(Y:是，N:否)-->
    <autoUpdate>N</autoUpdate>
  </systemInfo>
  <!--==========基本信息设置==========-->
  <baseInfo>
    <!--工厂名称-->
    <factoryName>
    </factoryName>
    <!--厂区名称-->
    <areaName>D</areaName>
    <!--线别名称-->
    <lineName>
    </lineName>
    <!--机台名称-->
    <machineName>
    </machineName>
  </baseInfo>
  <!--==========看板相关设置==========-->
  <screenPanel>
    <!--看板显示的人员属性部门-->
    <deptName>生技</deptName>
    <!--看板统计图表显示的机台数(1~30,默认20)-->
    <machineNum>20</machineNum>
    <!--看板统计图表显示前几周数据（0当前周，1前一周，以此类推，最大5）-->
    <preWeekNum>2</preWeekNum>
  </screenPanel>
  <!--==========呼叫相关设置==========-->
  <callSet>
    <!--呼叫数量限制(Y:限制，N:不限制)-->
    <callLimit>N</callLimit>
  </callSet>
  <!--==========机台监听==========-->
  <machineListen>
    <!--监听开关（Y:开启，N:关闭）-->
    <listenOpenFlag>Y</listenOpenFlag>
    <!--监听端口-->
    <listenPort>10</listenPort>
    <!--接收超时（分钟）-->
    <receiveTimeout>5</receiveTimeout>
  </machineListen>
</configuration>