@page
@{
    Layout = null; // 默认情况下，这是自动应用的，如果你有多个布局，可以显式指定。
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>粒子连线特效</title>
    <link rel="stylesheet" href="~/canvas/ycahc/style.css">
</head>
<body>
    <div id="tsparticles" ></div>
    <script src="~/canvas/ycahc/tsparticles.min.js"></script>
    <script src="~/canvas/ycahc/script2.js"></script>
</body>
</html>