
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form action="http://localhost:6054/api/Post" method="post">
    <span>a:</span><input type="text" name="a" value=" " /><br />
    <span>b:</span><input type="text" name="b" value=" " /><br />
    <input type="submit" name="sub" value="提交" />
</form>

