<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--==========数据库设置==========-->
  <database>
    <!--数据库连接-->
    <connectionString>server=127.0.0.1;database=HJDB;uid=cs;pwd=iMvyh5JHLzv3uy+vYsrOkw==</connectionString>
  </database>
  <!--==========系统设置==========-->
  <systemInfo>
    <!--头像文件缓存目录-->
    <picCachePath>D:\Work Projects\设备系统\SBGL\WinForm\ShareFile\Release\Temp\UserPicture</picCachePath>
    <!--是否自动更新(Y:是，N:否)-->
    <autoUpdate>Y</autoUpdate>
  </systemInfo>
  <!--==========基本信息设置==========-->
  <baseInfo>
    <!--工厂名称-->
    <factoryName>
    </factoryName>
    <!--厂区名称-->
    <areaName>A</areaName>
    <!--线别名称-->
    <lineName>A1-10线</lineName>
    <!--机台名称-->
    <machineName>
    </machineName>
    <!--呼叫数量限制(Y:限制，N:不限制)-->
    <callLimit>N</callLimit>
  </baseInfo>
  <!--==========看板相关设置==========-->
  <screenPanel>
    <!--看板显示:[呼叫看板,设备看板,兼容切换]-->
    <kanbanShow>呼叫看板</kanbanShow>
    <!--看板显示的人员所属部门-->
    <deptName>生技课</deptName>
    <!--看板统计图表显示的机台数(1~30,默认20)-->
    <machineNum>20</machineNum>
    <!--看板统计图表显示前几周数据（0当前周，1前一周，以此类推，最大5）-->
    <preWeekNum>2</preWeekNum>
    <!--是否开启呼叫人员故障显示(Y:开启，N:不开启)-->
    <callHandlerShowFlag>N</callHandlerShowFlag>
  </screenPanel>
  <!--==========广播相关设置==========-->
  <speechVoice>
    <!--广播语速[-5,5]-->
    <speechRate>0</speechRate>
    <!--广播频率（最小值1），单位:分钟-->
    <speechSpanMinute>1</speechSpanMinute>
    <!--是否开启呼叫人员广播(Y:开启，N:不开启)-->
    <callHandlerSpeechFlag>Y</callHandlerSpeechFlag>
  </speechVoice>
  <!--==========TCP监听==========-->
  <tcpListen>
    <!--监听开关（Y:开启，N:关闭）-->
    <tcpListenFlag>Y</tcpListenFlag>
    <!--监听端口-->
    <listenPort>10409</listenPort>
    <!--接收超时（分钟）-->
    <receiveTimeout>10</receiveTimeout>
  </tcpListen>
  <!--==========串口监听==========-->
  <serialListen>
    <!--监听开关（Y:开启，N:关闭）-->
    <serialListenFlag>Y</serialListenFlag>
    <!--串口名称-->
    <listenPortName>COM3</listenPortName>
    <!--波特率-->
    <baudRate>115200</baudRate>
    <!--数据位-->
    <dataBits>8</dataBits>
    <!--停止位[0,1,2,3]-->
    <stopBits>1</stopBits>
    <!--奇偶校验[0,1,2,3,4]-->
    <parity>2</parity>
  </serialListen>
</configuration>