<!-- 示例一 -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>示例一</title>
	<script src="D:\zzzzzzzz\CodeBlock\Vue\vue.min.js"></script>
</head>
<body>
	<ol id="ull">
		<li v-for="name in names">{{name.name}}
	</ol>
</body>

<script>
	new Vue({
		el:'#ull',
		data:{
			names:[
			{name:"节点1"},
			{name:"节点2"}
		    ]	
		}
	})
</script>
</html> -->


<!-- 循环数组 -->
<!-- (value,key) -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>循环数组</title>
	<script src="D:\zzzzzzzz\CodeBlock\Vue\vue.min.js"></script>
</head>
<body>
	<div class="app">
		<ul>
			<li v-for="(rent,city) in averageRent">{{ city }}的平均租金是${{ rent }}</li>
		</ul>
	</div>
</body>
<script type="text/javascript">
	new Vue({
		el:'.app',
		data:{
			averageRent:{
				London:1650,
				Paris:1773,
				NYC:3688
			}
		}
	})
</script>
</html> -->



<!-- 遍历数字 -->
<!-- <!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>遍历数字</title>
	<script src="D:\zzzzzzzz\CodeBlock\Vue\vue.min.js"></script>
</head>
<body>
	<div id="app">
		<lu>
			<li v-for="n in 10">{{n}}</li>
		</lu>
	</div>
</body>
<script>
	new Vue({
		el:'#app'
	});
</script>
</html> -->